In [12]:
import numpy as np
import pandas as pd

three modules
- `datetime`
- `time`
- `calendar`

# `datetime`

In [13]:
from datetime import datetime
now = datetime.now()
print(now)
print(now.year, now.month, now.day)

2022-07-22 21:08:13.795270
2022 7 22

`timedelta` represents temporal difference

In [20]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(days=926, seconds=56700)

In [21]:
delta.days

926

In [22]:
delta.seconds

56700

In [23]:
from datetime import timedelta
start = datetime(2011, 1, 7)
delta = timedelta(12) # add 12 days
start + delta

datetime.datetime(2011, 1, 19, 0, 0)

In [24]:
start - 2 * delta

datetime.datetime(2010, 12, 14, 0, 0)

- `date` stores date(year, month,day) using Georgian calendar
- `time` stores time of day(hrs, mins, secs, microsecs)
- `datetime` stores both date and time
- `timedelta` difference between two datetime objects as (days, seconds, microsecs)
- `tzinfo` base type for storing time zone info

converting between string and datetime
using `str` or `strftime`

In [34]:
stamp = datetime(2011, 1, 3, 23)
str(stamp)

'2011-01-03 23:00:00'

In [44]:
stamp.strftime("%Y-%m-%d-%I-%S-%f-%Z")

'2011-01-03-11-00-000000-'

In [46]:
# convert string to datetime
value = "2011-01-03"
datetime.strptime(value, "%Y-%m-%d")

datetime.datetime(2011, 1, 3, 0, 0)

`pandas` datetime

In [50]:
datestrs = ["2011-07-06 12:00:00", "2011-08-06 00:00:00"]
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [53]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT', 'NaT',
               'NaT'],
              dtype='datetime64[ns]', freq=None)

In [56]:
datestrs.append(None)
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT', 'NaT',
               'NaT', 'NaT'],
              dtype='datetime64[ns]', freq=None)

`NaT` is not a time

In [57]:
pd.isna(idx)

array([False, False,  True,  True,  True])

# Pandas TimeSeries Basics